@use 'validate';
@use 'sass-true' as *;

@include describe('type validation') {

  @include it('should validate scalar values') {
    @include validate.type(10px, 'number');
  }

  @include it('should validate map values') {

    $value: ('foo': 'number');
    $type: ('foo': 10px);

    @include validate.type($value, $type);

  }

  @include it('should validate union types') {

    $type: (
      ('foo': 100px), 
      ('bar': 200px)
    );

    @include validate.type(('bar': 10px), $type);
    @include validate.type(('foo': 20px), $type);

  }

}