/* breakpoint declarations */

@define breakpoint('mobile') {
  min-width: 320px;
  max-width: 767px;
}

/* palette declarations */

@define palette('colors') {
  primary: #000;
  secondary: #fff;
}

/* value declarations */

@define palette('sizes') {

  large: 20px;

  primary {
    *: 10px;
    mobile: 15px;
    desktop: 20px;
    xl: scale-up(50%);
  }

  secondary {
    *: 10px;
    tablet: 15px;
  }

}

@define palette('typo');

@define value('typo/h1') {
  *: #ff0000;
  desktop: #ff0000;
}

@define value('red') {
  *: red;
}

/* pattern declarations */

@define pattern('typo/headline') {

  * {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  mobile {
    margin-top: 5px;
    margin-bottom: 5px;
  }

}

/* usage */

body {
  @use palette('colors');
  @use palette('sizes');
  @use pattern('typo/headline');

  margin-top: value('spacing/10');

  /* color: value('color/primary', (
    desktop: blue
  )); */

  margin-top: value('spacing/10',
    not('mobile', 10px)
  );

  margin-top: value('spacing/10', {
    mobile: 10px;
    tablet: 15px;
  });

  /* static value */

  margin-top: value('spacing/10', 'mobile');

  /* breakpoints value */

  @use breakpoint('mobile', '==') {
    color: green;
  }

  @use breakpoint('mobile', '<') {
    color: green;
  }

  @use breakpoint('mobile', '<=') {
    color: green;
  }

  @use breakpoint('mobile', '>') {
    color: green;
  }

  @use breakpoint('mobile', '>=') {
    color: green;
  }

}