/* breakpoint declarations */

@define breakpoint('mobile') {
  min-width: 320px;
}

@define breakpoint('mobile') as (max-width: 375px);
@define breakpoint('tablet') as (min-width: 375px) and (max-width: 1440px);

/* palette declarations */

@define palette('colors') {
  primary: {
    mobile: #ff0000;
    desktop: #ff0000;
  }
}

/* value declarations */

@define store('colors') {
  primary {
    *: #ff0000;
    mobile: #ff0000;
  }
}

@define store('typo');

@define value('typo/h1') {
  *: #ff0000;
  desktop: #ff0000;
}

/* pattern declarations */

@define pattern('typo/headline') {

  * {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  mobile {
    margin-top: 5px;
    margin-bottom: 5px;
  }

}

/* usage */

body {
  @use store('typo');
  @use pattern('typo/headline');
  margin-top: value('spacing/10');

  color: value('color/primary',
    exception('mobile', red)
  );

  margin-top: value('spacing/10',
    exception('mobile', 10px),
    exception('tablet', 15px)
  );

  @use breakpoint('mobile', '==') {
    color: green;
  }

}